.topic-heading {
    margin-bottom: 20px !important;
}

.innertag-flex {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
    margin: 0 !important;
}

.rectanglebg {
    border-radius: 0.25rem;
    width: 80%;
    text-align: start;
    padding: 5px 12px;
    font-size: 16px;
    background-color: #fff;
    border: none;
    color: black;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.btn-lg {
    padding: 0.5rem 1rem !important;
    font-size: 1.25rem !important;
    border-radius: 0.3rem !important;
    width: 25%;
}