* {
  box-sizing: border-box;
}

main {
  overflow-x: hidden !important;
  overflow-y: auto !important;
}

.logo-img {
  max-width: 55px !important;
  height: auto !important;
}

.App-header {
  display: flex !important;
  flex-direction: column !important;
  align-items: center !important;
  justify-content: center !important;
  margin: 10px !important;
  height: 100% !important;
}

.centered {
  position: absolute !important;
  top: 0 !important;
  bottom: 0 !important;
  left: 50% !important;
  transform: translate(-50px, -50px) !important;
}

.App-flip-box, .App-logo {
  background-color: transparent;
  width: 360px !important;
  height: 260px !important;
  perspective: 1000px;
  margin-bottom: 15px;
  border-radius: 50px 5px;
}

.App-flip-box-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.App-flip-box:hover .App-flip-box-inner {
  transform: rotateY(180deg);
}

.App-flip-box-front, .App-flip-box-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.App-flip-box-front {
  /* background-color: #bbb; */
  /* color: black; */
  border-radius: 55px 10px;
}

.App-flip-box-back {
  background-color: black !important;
  color: white !important;
  font-size: larger !important;
  transform: rotateY(180deg) !important;
}

.App-link {
  color: #61dafb;
}

@media only screen and (max-width: 421px) {
  .App-header {
    margin: 5px !important;
  }
}