html,body, #root{
  height: 100% !important;
}

body {
  margin: 0 !important;
  background-color: #282c34 !important;
  color: white !important;
  /* padding: 2rem 10rem !important; */
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

@media only screen and (max-width: 992px) {
  body{
    padding: 2rem !important;
  }
}

@media only screen and (max-width: 668px) {
  body{
    padding: 1.5rem !important;
  }
}

@media only screen and (max-width: 282px) {
  body{
    padding: 0.5rem !important;
  }
}